<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css">
    <title>Propiedades en Arriendo</title>
</head>

<body>
    <nav class="menu">
        <a href="../../index.html">Inmobiliaria APM</a>
        <a href="./ventas.html">Propiedades en Venta</a>
        <H1>Propiedades en Arriendo</H1>
        <div id="containerpropiedades"></div>
    </nav>

    <script type="module" src=" ../js/Arriendo.js"></script>

</body>

</html>